* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

@media (min-width: 425px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
}
